html {
  font-family: sans-serif;
  background-color: #ffaa00;
}

body {
  width: 800px;
}

p {
  color: #1515d1;
}

h1 {
  text-align: right;
  font-size: 75px;
  color: #1515d1;
}

li {
  font-size: 18px;
  color: #dddddd;
  background-color: #1515d1;
  padding: 10px 10px;
  margin: 10px 10px;
}

button {
  font-size: 18px;
  border: none;
  background-color: #1515d1;
  color: #dddddd;
  padding: 10px 10px;
}
