html {
  font-family: sans-serif;
  background-color: #00ff00;
  display: flex;
  justify-content: center;
}

body {
  justify-content: center;
  width: 500px;
}

h1 {
  text-align: left;
  font-size: 75px;
  color: #0000ff;
}

li {
  font-size: 18px;
  color: #ffffff;
  background-color: #0000ff;
  padding: 20px 20px;
  border: solid 2px black;
  margin: 5px 5px;
}

button {
  font-size: 16px;
  border: none;
  background-color: #0000ff;
  color: #ffffff;
  padding: 30px 30px;
}
