html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
}
a {
  color: rgb(78, 155, 255);
}

html {
  background-color: #354452;
}

body {
  width: 600px;
  margin: 100px auto;
  background-color: #323a49;
  padding: 0 20px 20px 20px;
  border: none;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #54acff;
  text-shadow: 7px 5px 2px rgb(31, 31, 78);
}

img {
  display: block;
  margin: 0 auto;
}

button.demo {
  background-color: #4e9ee9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
